.skill h3 {
  font-size: 100%;
  font-weight: 900;
}

.highlight {
  background-color: #0080801a;
}

.carousel-control-prev,
.carousel-control-next {
  top: 100px !important;
  bottom: unset !important;
}

.spread-elements {
  display: flex;
}

@media only screen and (max-width: 530px) {
  .spread-elements {
    flex-direction: column;
  }
}

.sinlge-link-header {
  margin: 0px 10px;
}

.time-stamp {
  font-size: 70%;
  font-style: italic;
}

.main {
  background: url("./assets/background.svg");
}

.bigger-font-standard {
  font-size: 225%;
  margin-right: 20px;
  fill: #444445;
}

.header-title {
  margin-top: 20px;
  padding-top: 30px;
}

a {
  text-decoration: none;
}

.flex-about {
  display: flex;
}

.links a,
.links:hover {
  color: #88abb1;
  text-decoration: none;
}

.links a:hover {
  font-weight: 900;
  text-decoration: none;
  color: #88abb1;
}

.header-text {
  font-weight: 100;
  font-size: 1.5rem;
}

body h3 {
  font-size: 100%;
  font-weight: 900;
  color: #444445;
}

p.card-text {
  padding-right: 30px;
}

* {
  color: #555555;
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

body {
  background: #181818;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #e7eae3;
  color: #444445;
  color: #d1d7cb;
}

.skills,
.contact,
.header,
.projects,
.about,
.main {
  background-color: #fafafa;
}

.contact {
  display: flex;
  flex-direction: column;
}

,
.project-description {
  max-width: 100%;
}

.carousel-indicators {
  bottom: unset !important;
  top: 140px !important;
}

.carousel-title {
  color: white !important;
  background: #444445;
  margin: 10px 0px;
  padding: 3px 9px;
}

h3.carousel-title {
  font-size: 1.75rem;
}

.header {
  overflow: auto;
  margin: 20px;
  padding: 10px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 20px;
  padding: 20px;
}

.picture {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-img {
  max-width: 170px;
}

.about-text {
  flex: 1 0 30%;
  background-color: black;
  padding: 19px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-description {
  margin-top: 23px;
}

.accent-color {
  color: #444445;
}

.navigation {
  float: right;
}

.title {
  margin-bottom: 20px;
}

.bold {
  font-weight: 900;
  border-bottom: solid 4px #ff0065;
  margin-bottom: 10px;
}

.project-bold-div {
  padding-bottom: 12px;
}

.project {
  padding: 20px;
  margin: 20px;
  border-bottom: 2px solid #400080;
  width: 100%;
}

.project a {
  text-decoration: none;
}

.project-container {
  display: flex;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.project-description {
  font-size: 90%;
  padding-bottom: 10px;
  padding-top: 5px;
}

.projects {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}
