.skill h3 {
  font-size: 100%;
  font-weight: 900;

}

.highlight {
  background-color: #0080801a;
}

.carousel-control-prev, .carousel-control-next {
  top: 100px !important;
  bottom: unset !important; /*overritting bootstrap*/
}

.spread-elements {
  display: flex;
}

.sinlge-link-header {
  margin: 0px 10px;
}

.time-stamp {
  font-size: 70%;
  font-style: italic;
}

.main {
  background: url("./assets/background.svg");
}

.bigger-font-standard {
  font-size: 225%;
  margin-right: 20px;
  fill: teal;
}

.header-title {
  margin-top: 20px;
  padding-top: 30px;
}

a {
  text-decoration: none;
}

.links a,
.links:hover {
  color: teal;
  text-decoration: none;
}

.links a:hover {
  font-weight: 900;
  text-decoration: none;
  color: teal;
}

.header-text {
  font-weight: 100;
  font-size: 1.5rem;

}

body h3 {
  font-size: 100%;
  font-weight: 900;
  color: teal; /*bootstrap*/
}

p.card-text {
  padding-right: 30px;
}

.link-contact {

}

* {
  color: #555555;
  font-family: "Lato";
  margin: 0;
  padding: 0;
}

body {
  background: #181818;
}

.App {
  font-family: sans-serif;
}

.container {
  background-color: #f1f1f1;
  /*height: 100vw;*/
}

.skills,
.contact,
.header,
.projects,
.about,
.main {
  background-color: #fafafa;
}

.project-description {
  max-width: 100%;
}


.carousel-indicators {
  bottom: unset !important; /*overritting bootstrap*/
  top: 140px !important; /*overritting bootstrap*/
}

.carousel-title  {
  color: white !important;
  background: teal;
  margin: 10px 0px;
  padding: 3px 9px;
  /*background: linear-gradient(to right, #e9ecef00 16%, #5faafa29 6%, rgb(116, 183, 255) 49%, rgb(41, 170, 255) 52%, #54719073 75%,rgba(75, 165, 195, 0.35) 91%);*/
}

h3.carousel-title {
  font-size: 1.75rem;
}


.header {
  overflow: auto;
  margin: 20px;
  padding: 10px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 20px;
  padding: 20px;
}

.about {
  /*display: flex;*/
}

/*.section-title {
  color: #802941;
  }*/

  .picture {
    flex: 1 1 50%;
  }

  .picture-img {
   /* width: 100%;*/
   max-width: 200px;
 }


 .about-text {
  flex: 1 0 30%;
  background-color: black;
  padding: 19px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-description {
  margin-top: 23px;
}

.accent-color {
  color: #46abaf;
}


.navigation {
  float: right;
}

.title {
  margin-bottom: 20px;
}

.bold {
  font-weight: 900;
  border-bottom: solid 4px #FF0065;
  margin-bottom: 10px;
}

.project-bold-div {
  padding-bottom: 12px;
}

.project {
  padding: 20px;
  margin: 20px;
  border-bottom: 2px solid #400080;
  width: 100%;
}

.project a {
  text-decoration: none;

}



.project-container {
  display: flex;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.project-description {
  font-size: 90%;
  padding-bottom: 10px;
  padding-top: 5px;
}

.projects {
 /* display: flex;*/
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 25px;
}